@model RestaurantReviews.Library.Models.Restaurant

@{
    ViewBag.Title = "Create";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <h2>Create</h2>


    @using (Html.BeginForm())
    {
        @Html.LabelFor(Model => Model.RestaurantName);
        @Html.EditorFor(Model => Model.RestaurantName, new { htmlattributes = new { placeholder = "Enter Name", required = "required" } })<br />
        @Html.ValidationMessageFor(Model => Model.RestaurantName)

        @Html.LabelFor(Model => Model.FoodType);
        @Html.EditorFor(Model => Model.FoodType, new { htmlattributes = new { placeholder = "Food Type/Cuisine", required = "required" } })<br />

        @Html.LabelFor(Model => Model.Street1);
        @Html.EditorFor(Model => Model.Street1, new { htmlattributes = new { placeholder = "Street1", required = "complete address required" } })<br />

        @Html.LabelFor(Model => Model.Street2);
        @Html.EditorFor(Model => Model.Street2, new { htmlattributes = new { placeholder = "Street2" } }) <br />

        @Html.LabelFor(Model => Model.City);
        @Html.EditorFor(Model => Model.City, new { htmlattributes = new { placeholder = "City", required = "complete address required" } })<br />
        @Html.ValidationMessageFor(Model => Model.City)

        @Html.LabelFor(Model => Model.State);
        @Html.EditorFor(Model => Model.State, new { htmlattributes = new { placeholder = "State", required = "complete address required" } })<br />

        @Html.LabelFor(Model => Model.Country);
        @Html.EditorFor(Model => Model.Country, new { htmlattributes = new { placeholder = "Country", required = "complete address required" } })<br />

        @Html.LabelFor(Model => Model.Zipcode);
        @Html.EditorFor(Model => Model.Zipcode, new { htmlattributes = new { placeholder = "Zipcode", required = "complete address required" } })<br />

        @Html.LabelFor(Model => Model.Phone);
        @Html.EditorFor(Model => Model.Phone, new { htmlattributes = new { placeholder = "555-555-5555", required = "phone number required" } })<br />


        <input type="submit" value="Add" />
    }

    <div>
    </div>
</body>
</html>