@model IEnumerable<RestaurantReviews.Library.Models.Restaurant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RestaurantName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>@Html.DisplayNameFor(model  => model.AvgRating)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        @Html.Partial("_PartialRestaurantRow", item)
    }

</table>
